form {
    display: flex;
    flex-direction: column;
}

form label {
    display: flex;
    flex-direction: column;

    padding: 0.7rem 0.5rem;
}

form > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

form .contact-info label {
    width: 50%;
}

form .personal-info label{
    width: 33.3%;
}

form label :is(input, select){
    padding: 1rem;
    border: 1px solid var(--primary-color);
    box-shadow: 0.2rem 0.2rem 0rem #0006;

    transition: all ease 250ms;
}

form label :is(input, select):hover{
    box-shadow: 0.4rem 0.4rem 0rem #0006;
}

form label :is(input, select):focus {
    outline: 1px solid var(--primary-color);
}

form .send-area{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
}

form .send-area .span-message {
    margin-bottom: 0.5rem;
}

form .send-area .span-message.error{
    color: red;
}

form button {
    display: block;
    width: 30%;
}

/*------------------Medias---------------------*/
@media screen and (max-width: 992px) {
    form .personal-info label {
        width: 50%;
    }
}

@media screen and (max-width: 850px) {
    form .block label {
        width: 100%;
    }
}