@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --primary-color: #003583;
    --max-content-width: 1400px;
    font-size: 62.5%;
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: overlay;
}

body .mainContent {
    display: flex;
    justify-content: center;
}

body .mainContent > div {
    width: var(--max-content-width);
    min-height: 100vh;
    padding: 5rem 7rem;
    border-left: 1px solid #0003;
    border-right: 1px solid #0003;

    font-size: 1.5rem;
}

body .mainContent > div > h1 {
    padding-bottom: 1rem;
}

/*-------------Scrolbar related -----------------*/
.noscroll {
    overflow: hidden; 
  }
  
  body::-webkit-scrollbar {
    -webkit-appearance: none; 
  }
  
  body::-webkit-scrollbar:vertical {
    width:8px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
  } 
  
  body::-webkit-scrollbar:horizontal {
    height: 8px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #777;
  }

  /*-----------------Media-----------------*/
  @media screen and (max-width: 576px) {
    body .mainContent > div {
      padding: 3rem 3rem;
    }

    html {
      font-size: 50%;
    }
  }