.patient-register {
    display: flex;
    flex-direction: row;
}

.patient-register .register {
    width: 70%;
    padding-right: 1rem;
}

.patient-register .concidence {
    border-left: 1px solid #0001;
    padding-left: 1rem;
    width: 30%;
}

/*------------------Medias--------------------*/
@media screen and (max-width: 850px) {
    .patient-register {
        flex-direction: column;
    }

    .patient-register .concidence, .patient-register .register {
        width: 100%;
    }

    .patient-register .concidence {
        border: none;
        padding-left: 0rem;
        padding-top: 2rem;
    }
}
